:root {
  --label-light-primary: rgba(0, 0, 0, 1);
  --color-light-green: rgba(52, 199, 89, 1);
  --orange: rgba(234, 125, 40, 1);
  --text-1: rgba(48, 48, 48, 1);
  --text-2: rgba(71, 71, 71, 1);
  --brown: rgba(77, 44, 25, 1);
}
